/* AboutUs.css */
.about-us-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 100px; /* Adjust this value based on your header's height */
    max-width: 120%; /* Add this to ensure the container takes up the full width */
    box-sizing: border-box; /* Add this to include padding in the width */
  }
  
  .about-us-container h1 {
    text-align: center;
    margin-bottom: 20px;
    color: #1e1e1e;
  }
  
  .about-us-container p {
    text-align: center;
    font-size: 16px;
    line-height: 1.5;
    color: #666;
  }
  